{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta chartset="utf-8">
        <title>{% block title %} Django Boards {% endblock %}</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/app.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--navigation bar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}"> Django Boards </a>
            </div>
        </nav>

        <!--title-->
        <div class="container">
        <ol class="breadcrumb p-3 my-4 bg-light">
            {% block breadcrumb %}
            {% endblock %}
        </ol>

        <!--description-->
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>